In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import bootstraptools as btools
from functools import partial

In [3]:
data = pd.read_csv('../data/table_2.1.csv')
data.head()

  group  data
0     T    94
1     T   197
2     T    16
3     T    38
4     T    99

In [4]:
labels = data.group.values.astype(str)
values = data.data.values.astype(float)
C = values[labels=='C']
T = values[labels=='T']

In [33]:
def repeat(a, r):
    ar = np.repeat(a, r)
    np.random.shuffle(ar)
    return ar

In [34]:
stderr = btools.bootstrap_stderr(T)

Bootstrapping: 100%|████████████████████|(55688.68it/s)

In [37]:
for R in [10, 100, 200, 400]:
    stderrR = btools.bootstrap_stderr(repeat(T, R))
    ratio = stderr / stderrR
    sqrt = R**0.5
    print(ratio, sqrt)

Bootstrapping: 100%|████████████████████|(65611.86it/s)

3.029964781405705 3.1622776601683795

Bootstrapping: 100%|████████████████████|(43301.41it/s)

10.29073401840051 10.0

Bootstrapping: 100%|████████████████████|(31139.50it/s)

14.033092764967385 14.142135623730951

Bootstrapping: 100%|████████████████████|(19259.80it/s)

19.33184293840032 20.0

Decreases as $1/\sqrt{n}$