In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import bootstraptools as btools
from functools import partial

In [6]:
data = pd.read_csv('../data/table_2.1.csv')
data.head()

  group  data
0     T    94
1     T   197
2     T    16
3     T    38
4     T    99

In [7]:
labels = data.group.values.astype(str)
values = data.data.values.astype(float)
values7 = values/7

In [19]:
stderr = btools.bootstrap_stderr(values, stat_fn=np.mean)
stderr7 = btools.bootstrap_stderr(values7, stat_fn=np.mean)

Bootstrapping: 100%|████████████████████|(64700.95it/s)
Bootstrapping: 100%|████████████████████|(38110.63it/s)

In [20]:
stderr/stderr7

6.9040753961203825

In [22]:
def stat_fn(x, y):
    return np.mean(x) - np.mean(y)

C = values[labels=='C']
T = values[labels=='T']

stat_fn(T, C)

30.63492063492064

In [29]:
stat_fn(T, C) / btools.bootstrap_n_stderr(T, C, stat_fn=stat_fn, progbar=False)

1.1561376980554463

In [30]:
stat_fn(T/7., C/7.) / btools.bootstrap_n_stderr(T/7., C/7., stat_fn=stat_fn, progbar=False)

1.1565544099249088

Obvious, as $se(\bar{x}-\bar{y}) = \sqrt{se(\bar{x})^2 + se(\bar{y})^2}$ means that it will be divided by 7 as the mean difference